.body {
  background-color: rgb(25, 25, 25);
 }
 .container {
    display: flex;
    justify-content: left;
    gap: 10px; 
    margin-top: 15px;
  }
  
  .clearContainer {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  