.container {
    display: flex;
    justify-content: center;
    gap: 40px; 
    margin-top: 30px;
  }
  
  .clearContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  
  
  
  