.container {
  display: flex;
  justify-content: center;
  gap: 90px; 
  margin-top: 30px;
}

.rock{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid;
}

.but {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid;
}

.scis {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid;
}

.clearContainer {
  display: flex;
  justify-content: center;
}

.clear{
  height: 60px;
  width: 60px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: pink;
  border: 1px solid;
}


